.banner {
    width: 60%;
    height: 60vh;
    margin: .5em auto 0 auto;
    overflow: hidden;
}

.card-img {
    opacity: .35;
}

.card-img-overlay {
    color: var(--branco);
    opacity: 1;
}

.card-text {
    font-weight: 300;
}

@media (max-width: 500px) {
    .banner {
        width: 100vw;
        height: 30vh;
    }
}