#cabecalho {
    background: var(--vermelho-forte);
    color: var(--branco);
    padding: 10px 0;
    font-size: 12px;
}

.obter-informacao {
    border-left: 1px solid var(--cinza-escuro);
    border-right: 1px solid var(--cinza-escuro);
    padding: 0 10px;
    margin-left: 10px;
}

@media(max-width: 500px) {
    .entrar-contato-ligacao {
        display: none;
    }
}