#barra-navegacao {
    padding: 0 2em;
}

.logo {
    color: var(--vermelho-forte);
    font-size: 2rem;
    font-weight: 600;
    border-right: 1px solid var(--cinza);
    padding-right: 30px;
}

#barra-navegacao ul li a{
    color: var(--cinza);
}

@media (max-width: 500px) {
    #barra-navegacao {
        width: 100vw;
        padding: 0 2em;
    }

    .logo {
        color: var(--vermelho-forte);
        font-size: 1.5rem;
        font-weight: 700;
        border-right: none;
        padding-right: none;
    }

    .lista-item ul {
        display: block;
    }
}
