#filtrar-veiculos {
    width: 100%;
    background: var(--vermelho-forte);
    color: var(--branco);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-filtrar-veiculo {
    margin-right: 30px;
}

.form-select {
    width: 160px;
    font-size: 12px;
    margin: 0 10px;
    border-radius: 4px;
} 

@media (max-width: 500px) {
    #filtrar-veiculos {
        flex-direction: column;
    }

    .texto-filtrar-veiculo {
        margin: 1em 0;
    }

    .form-select {
        width: 80vw;
        font-size: 14px;
        margin: 10px 0;
    } 
}