@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('header.css');
@import url('navbar.css');
@import url('banner.css');
@import url('buttons.css');
@import url('section-looking-vehicule.css');
@import url('main.css');
@import url('login.css');

:root {
    --fonte-principal: 'Open Sans', sans-serif;
    --vermelho-forte: rgb(236, 29, 29);
    --vermelho-escuro: rgb(133, 45, 45);
    --cinza: rgb(175, 172, 172);
    --cinza-claro: rgba(94, 94, 94, 0.226);
    --cinza-escuro: rgba(30, 71, 83, 0.952);
    --branco: #ffffff;
    --preto: #000000;
}

body {
    background: var(--branco);
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}